body.main-body {
  margin: auto;
  max-width: 900px;
  min-width: 900px;
  max-height: 400px;
  min-height: 400px;
  height: 100%;
  border: 1px;
  border-color: black;
  border-style: solid;
}

input {
  display: none;
}
